<div class="container align column">
  <form #personForm="ngForm" (ngSubmit)="submitForm(personForm)" novalidate>
    <div class="element">
      <div class="mandatory" [ngClass]="{'inValid': personForm.submitted && firstName.inValid}">
        <label>
          Enter First Name
        </label>
        <input type="text" [(ngModel)]="person.firstName" required pattern="[a-zA-Z ]*" #firstName="ngModel"
          name="fName">
      </div>
      <div *ngIf="personForm.submitted && firstName.invalid" class="m-t-10 error-message">
        <div *ngIf="firstName.errors.required">
          First Name is required
        </div>
        <div *ngIf="firstName.errors.pattern">
          Invalid pattern for first Name
        </div>

      </div>
    </div>

    <div class="element">
      <div class="mandatory" [ngClass]="{'inValid': personForm.submitted && lastName.inValid}">
        <label>
          Enter Last Name
        </label>
        <input type="text" [(ngModel)]="person.lastName" required pattern="[a-zA-Z ]*" #lastName="ngModel" name="lName">
        <div>
          <div *ngIf="personForm.submitted && lastName.invalid" class="m-t-10 error-message">
            <div *ngIf="lastName.errors.required">
              Last Name is required
            </div>
            <div *ngIf="lastName.errors.pattern">
              Invalid pattern for last Name
            </div>
          </div>
        </div>
        <button type="submit" class="btn-solid">Submit</button>
        <button type="button" (click)="clearForm(personForm)">Reset</button>
      </div>
      <div *ngIf="personForm.submitted $$ personForm.valid">
        <p> First Name: {{person.firstName}}</p>
        <p> Last Name: {{person.lastName}}</p>
      </div>
    </div>
  </form>
</div>
